<main class="home">
    <header>
        <div class="navmenu">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Menu</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Se connecter</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Fondation SCP
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Liste des SCP</a></li>
                                    <li><a class="dropdown-item" href="#">Rapports SCP</a></li>
                                    <!--
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                -->
                                    <li><a class="dropdown-item" href="#">Infos</a></li>
                                </ul>
                            </li>
                            <!--
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                        -->
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Exemple : SCP-173"
                                aria-label="Recherche">
                            <button class="btn btn-outline-success" type="submit">Recherche</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <body>
        <div class="title">
            <img src="https://preview.redd.it/b2azgsp6v7n31.jpg?auto=webp&s=1caaea5c783bdc4f27043c03beb39173d175f35c" alt="Logo SCP">
            <!--<img src="../../../ui/assets/logo_scp.webp" alt="Logo SCP" width="500" height="600">-->
            <h1>SCP Foundation</h1>
        </div>
        <div class="content">
            <h2>Test H2</h2>
            <h3>Test H3</h3>
            <h4>Test H4</h4>
            <h5>Test H5</h5>
            <p>Test paragraphe</p>
        </div>
    </body>
    <footer>Copyright Hacka47</footer>
</main>