<main class="home">
    <div class="intro-rp">
        <p>Le genre humain dans son état actuel existe depuis un quart de million d'années, et pourtant seuls
            les
            derniers 4000 ans ont eu la moindre signification.
            <br /><br />
            Alors, qu'avons nous fait durant près de 250 000 ans ? Nous nous sommes serrés dans des cavernes
            autour
            de
            feux tremblotants, emplis de crainte pour des choses que nous ne comprenions pas. Ce n'était pas
            seulement
            le mystère du lever de Soleil, mais aussi les oiseaux énormes à tête humaine et les rochers animés.
            Alors
            nous les appelions "Dieux" et "Démons", et nous les implorions de nous épargner, nous priions pour
            notre
            salut.
            <br />
            Avec le temps, leur nombre diminua tandis que le nôtre s'élevait. Le monde commença à avoir
            davantage de
            sens alors que les choses à y craindre se raréfiaient. Et pourtant, l'inexpliqué ne peut jamais
            totalement
            disparaître, comme si l'univers était indissociable de l'absurde et de l'impossible.
            <br /><br />
            Le genre humain ne doit pas retourner se cacher dans la peur. Personne d'autre ne nous protégera,
            nous
            devons faire face nous-mêmes.
            <br /><br />
            Tandis que le reste de l'humanité s'établit dans la lumière, nous devons nous dresser dans
            l'obscurité
            pour
            mieux la combattre, la contenir, et la dissimuler aux yeux du public, afin que d'autres puissent
            vivre
            dans
            un monde sensé et normal.
            <br /><br />
            Nous Sécurisons.
            <br />
            Nous Contenons.
            <br />
            Nous Protégeons.
            <br />
        </p>
        <h3>— L'Administrateur</h3>
    </div>
</main>